.App {
    text-align: center;
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

.Map-wrapper {
    width: 100%;
    margin: 0 auto;
}

.controls {
    display: flex;
}

.controls button {
    margin: 15px 10px 30px;
    background: none;
    border: none;
    box-shadow: 0 0px 1px 4px rgba(0, 213, 110, 0.42);
    background: rgba(0, 213, 110, 0.42);
    border-radius: 9px;
    padding: 8px 24px;
    color: #fff;
    cursor: pointer;
    transition: 0.23s;
}

.controls button:hover {
    background: rgba(0, 213, 110, 0.62);
}
